.products-container{
  display: flex;
  gap:2em; 
  flex-wrap: wrap;
  justify-content: space-evenly;


}
.search_box_conatiner{
  width:100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}
