.search_container{
  display: flex;
  width: 100%;
justify-content: center;
}

.search_input_field{
  width:20em; 
  height: 1.5em;
  border-radius: 1em;
  border-color: #A0BBDD;
  font-size: larger;
  border: none;
  background-color: #BBBEBF;
  outline: none;
  padding: 1em;
  line-height: 2em;
  margin-bottom: 1em;
  
}
.search_input_field:hover{
  background-color: #69778B;
  color: white;
}

.search_input_field:hover::placeholder{
  color: white;
  text-align: center;
}